<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>submitMessage</servlet-name>
    <servlet-class>servlets.submitMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rent</servlet-name>
    <servlet-class>servlets.Rent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeUserinfo</servlet-name>
    <servlet-class>servlets.ChangeUserinfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userInfo_op</servlet-name>
    <servlet-class>servlets.userInfo_op</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>carInfo_op</servlet-name>
    <servlet-class>servlets.carInfo_op</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>news_op</servlet-name>
    <servlet-class>servlets.news_op</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>rentList_op</servlet-name>
    <servlet-class>servlets.rentList_op</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>message_op</servlet-name>
    <servlet-class>servlets.message_op</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>submitMessage</servlet-name>
    <url-pattern>/submitMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rent</servlet-name>
    <url-pattern>/Rent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUserinfo</servlet-name>
    <url-pattern>/ChangeUserinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userInfo_op</servlet-name>
    <url-pattern>/userInfo_op</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>carInfo_op</servlet-name>
    <url-pattern>/carInfo_op</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>news_op</servlet-name>
    <url-pattern>/news_op</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rentList_op</servlet-name>
    <url-pattern>/rentList_op</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>message_op</servlet-name>
    <url-pattern>/message_op</url-pattern>
  </servlet-mapping>
</web-app>